<h2>Step 1</h2>

<p class="lead">
  Which topics would you like to present?
</p>

<form>
  {{#each-in fileTree as |topic subTree|}}
    <div class="checkbox">
      <label>
        {{input type="checkbox" name=topic change=(action "topicCheckboxDidChange")}}
        {{topic}}
      </label>
    </div>
  {{/each-in}}
</form>
{{#if shouldShowStep2}}
  <h2>Step 2</h2>
  <p class="lead">
    Who are you presenting to?
  </p>

  <form>
    {{#each-in demographicsTree as |demographic subTree|}}
      <div class="radio">
        <label>
          {{input type="radio" name="selectedDemographic" value=demographic change=(action "selectedDemographicDidChange")}}
          {{demographic}}
        </label>
      </div>
    {{/each-in}}
  </form>
{{/if}}

{{#if shouldShowStep3}}
  <h2>Step 3</h2>
  <p class="lead">
    Which PDFs would you like to use?
  </p>

  <form>
    {{#each pdfNames as |pdfName|}}
      <div class="checkbox">
        <label>
          {{input type="checkbox" name=pdfName checked="checked"}}
          <a {{action 'doNothing'}}>{{pdfName}}</a>
        </label>
      </div>
    {{/each}}
    <button class="btn btn-primary" {{action 'doNothing'}}>Combine &amp; Download PDFs</button>
  </form>
{{/if}}
